.header {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    height: 100px;
    background-color: #00000050;
    color: #fff;
}

.header__wrapper {
    box-sizing: border-box;
    width: 90%;
    max-width: 1800px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    column-gap: 10px;
    height: 80%;
    width: fit-content;
    align-items: center;
    align-content: center;
}

.logo:hover {
    color: inherit;
}

.logo img {
    width: auto;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo span {
    font-size: 30px;  
    font-weight: 900;
    color: #0082ff;  
}